@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lora&family=Yeseva+One&display=swap');

body{
  background-color: antiquewhite;
  margin: 20px;
}
h1{
  font-family: 'Yeseva One', cursive;
  color: blue;
}

p{
 font-family: 'Lora', serif; 
}

ul{
  width: 500px;
  background-color: white;
  border-width: 2px;
  border-color: pink;
  border-style: dotted;
}

li{
  font-family: 'Dongle', sans-serif;
  font-size: 125%;
  color: darkblue;
}
  
#imgbanner{
  width: 200px;
  height: auto;
}

form{
  border-style: solid;
  margin: 5px;
  padding: 10px;
  width: 200px;
  background-color: lightgray;
}
