@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lora&family=Yeseva+One&display=swap');

body{
  background-color: antiquewhite;
}
h1{
  font-family: 'Yeseva One', cursive;
}

p{
 font-family: 'Lora', serif; 
}

li{
  font-family: 'Dongle', sans-serif;
}
  
